.student-details-table table {
  table-layout: auto !important; // Allow columns to size based on content
  width: auto;                   // Table width fits content
//   min-width: 100%;               // Optional: ensures table doesn't shrink too much
}

.no-data-found{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 30px;
  height: 90vh;
}

.mobile-part {
  margin-right: 8px; // yahan aap spacing adjust kar sakte ho
  letter-spacing: 1px; // optional, digits ke beech thoda gap dene ke liye
}
