.form-container {
    padding: 20px;
}

.w-100 {
    width: 100%;
}

.dialog-form {
    display: flex;
    flex-direction: column;
    height: 100%;

    .dialog-content {
        flex: 1 1 auto;
        overflow: auto;
        padding-top: 20px;
    }

    .footer-actions {
        justify-content: flex-end;
        display: flex;
        gap: 8px;
    }
}

/* For the input field */
input[formControlName="mobileNumber"] {
  letter-spacing: 2px; /* har character ke beech extra gap */
  font-family: monospace; /* uniform spacing */
}

.FormControls
{
   margin:10px 0
}