<div>
  <app-image-uploader></app-image-uploader>
</div>

<form [formGroup]="studentRegistrationForm"class="dialog-form">
  <h2 mat-dialog-title>{{ isInEditMode ? 'Update Student' : 'Register Student' }}</h2>

  <mat-dialog-content class="dialog-content">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>First Name</mat-label>
      <input appCapitalizeFirst matInput formControlName="firstName" placeholder="Ex. John" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Last Name</mat-label> 
      <input appCapitalizeFirst matInput formControlName="lastName" placeholder="Ex. Doe" />  
    </mat-form-field>
   <!-- MOBILENUMBER -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Mobile Number</mat-label>
      <input matInput  formControlName="mobileNumber" appNumberFormat [groupSize] = '3'  [maxLength]="10" placeholder="Ex. 1234567890" />
      @if(studentRegistrationForm.get('mobileNumber')?.hasError('numberInvalid')) {
        <mat-error> Invalid number</mat-error>
      }
      @if(studentRegistrationForm.get('mobileNumber')?.hasError('required')) {
        <mat-error> Mobile number is required</mat-error>
      }
    </mat-form-field>
    <!-- EMAIL  -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Ex. john.doe@example.com" />
      @if(studentRegistrationForm.get('email')?.hasError('email')) {
        <mat-error> Invalid email format</mat-error>
      }
      @if(studentRegistrationForm.get('email')?.hasError('required')) {
        <mat-error> Email is required</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="footer-actions">
    <button mat-button type="button" (click)="onClose()">Close</button>
    <button mat-raised-button color="primary" (click)="onStudentFormSubmit()">{{ isInEditMode ? 'Update' : 'Submit' }}</button>
  </mat-dialog-actions>
</form>
