<!-- <h2 mat-dialog-title>{{ data.title || 'Confirm' }}</h2> -->
<h2 mat-dialog-title>
  Student #{{ data.stdNum }} - {{ data.student?.firstName }} {{ data.student?.lastName }}
</h2>


<mat-dialog-content>
    <p>{{ data.message || 'Are you sure?' }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">

    @if(data.showCancel !== false) {
    <button mat-button [color]="'warn'" [mat-dialog-close]="false">
        {{ data.cancelText || 'No' }}
    </button>
    }

    @if (data.showConfirm !== false) {
    <button mat-button [color]="data.color || 'primary'" [mat-dialog-close]="true">
        {{ data.confirmText || 'Yes' }}
    </button>
    }
</mat-dialog-actions>