<div class="viewDetails">
<h2 mat-dialog-title>Student Details</h2>

<mat-dialog-content class="p-4 space-y-2">
  @if (student) {
    <div><strong>Name : </strong> {{ student.firstName }} {{ student.lastName }}</div>
    <!-- <div><strong>Mobile No : </strong> {{ student.mobileNumber }}</div> -->
     <div>
  <strong>Mobile No : </strong>
  <span class="mobile-part">{{ student.mobileNumber.toString().slice(0, 5) }}</span>
  <span class="mobile-part">{{ student.mobileNumber.toString().slice(5) }}</span>
</div>
}

</mat-dialog-content>
</div>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

<!-- <h2 mat-dialog-title>
  Student #{{ stdNum }} - {{ student?.firstName }} {{ student?.lastName }}
</h2>

<mat-dialog-content class="p-4 space-y-2">
  @if (student) {
    <div><strong>Student Number:</strong> {{ stdNum }}</div>
    <div><strong>Name:</strong> {{ student.firstName }} {{ student.lastName }}</div>
    <div><strong>Mobile:</strong> {{ student.mobileNumber }}</div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions> -->
